@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lumanosimo', cursive;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: F8F0E5;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}

.logo {
    font-size: 2em;
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: pointer;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background:rgb(255, 255, 255);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform: scaleX(1);
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(91, 100, 100, 0.404);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fafafa;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

.navigation .btnLogin-popup:hover {
background: #ffffff;
color: #000000;
}
.section{
    min-height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    background: transparent;
}
.wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgba(0,0,0, .2);
    border-left: 2px solid rgb(255, 255, 255, .1);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;

}
.wrapper.active-popup {
    opacity:1;
    pointer-events: auto;
}
.icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    
}
.icon-close i {
    font-size: 32px;
    color: #333;
}

.wrapper .logreg-box{
    width: 100%;
}
.wrapper .form-box.login{
    display: block;
}
.wrapper.active .form-box.login{
    display: none;
}
.wrapper .form-box.register{
    display: none;
}
.wrapper.active .form-box.register{
    display: block;
}

.logreg-box .logreg-title{
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

.logreg-title h2 {
    font-size: 32px;
}
.logreg-title p{
    font-size: 14px;
    font-weight: 500;
}

.logreg-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 25px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
}

.logreg-box .remember-forget {
    font-size: 14px;
    color: #fff;
    font-weight:500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

} 

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color:#fff;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}

.logreg-box .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    cursor: pointer;
    font-size: 14px;
    color: #222;
    font-weight: 600;
}

.logreg-box .logreg-link{
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
}

.logreg-link p a{ 
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover{
    text-decoration: underline;
}

.media-option{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-option a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid #fff ;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    transition: .5s;

}

.media-option a:hover{
    background: rgba(255, 255, 255, .1);
}

.media-option a i {
    font-size: 22px;
    margin: 0 0px 1.5px 0;
}

.media-option a span{
    font-weight: 500;
    font-size: 16px;

}
